MYSQL_ROOT_PASSWORD=symfony
MYSQL_DATABASE=symfony
MYSQL_USER=symfony
MYSQL_PASSWORD=symfony
SYMFONY_ROOT=./src

# If on a non-mac platform, this should be your local IP address or hostname
DOCKERHOST=docker.for.mac.localhost

