MYSQL_ROOT_PASSWORD=symfony
MYSQL_DATABASE=symfony
MYSQL_USER=symfony
MYSQL_PASSWORD=symfony

# If on a non-mac platform, this should be your local IP address or hostname
DOCKERHOST=docker.for.mac.localhost

# Where your symfony root directory is located
SYMFONY_ROOT=/Users/you/src

# What port you want exposed on your local machine for the web server
NGINX_PORT=8080
NGINX_TEMPLATE=symfony.template
# for symfony4
# NGINX_TEMPLATE=symfony4.template
